@charset "utf-8";
.bg-dark {
    background-color: #f46036!important;
}
a:link, a:visited {
    color: #A2A778;
}
a:hover  {
    color: #000B08;
}

body {
}

.navbar-nav.mr-auto .nav-item .nav-link {
    font-family: serif;
    color: #FFFFFF;
    border-color: #F46036;
}
.navbar-nav.mr-auto .nav-item .nav-link:hover  {
    color: #000;
    border-color: #F46036;
}
.navbar-nav  .nav-item {
    border: 1px solid #7A2209;
    background-image: linear-gradient, -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(122,34,9,1.00) 100%);
    background-image: linear-gradient, -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(122,34,9,1.00) 100%);
    background-image: linear-gradient, -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(122,34,9,1.00) 100%);
    background-image: linear-gradient, linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(122,34,9,1.00) 100%);
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    width: 108px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.navbar-nav .nav-item:hover   {
    background-image: linear-gradient, -webkit-linear-gradient(90deg,rgba(227,51,54,1.00) 0%,rgba(122,34,9,1.00) 100%);
    background-image: linear-gradient, -moz-linear-gradient(90deg,rgba(227,51,54,1.00) 0%,rgba(122,34,9,1.00) 100%);
    background-image: linear-gradient, -o-linear-gradient(90deg,rgba(227,51,54,1.00) 0%,rgba(122,34,9,1.00) 100%);
    background-image: linear-gradient, linear-gradient(0deg,rgba(227,51,54,1.00) 0%,rgba(122,34,9,1.00) 100%);
}
.navbar-brand {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

header h2 {
    font-family: bold serif;
    color: #050000;
    font-size: 350%;
    text-shadow: 0px 5px 11px;
    text-align: center;
    margin-top: 1em;
    line-height: 1em;
    letter-spacing: 0.12em;
}
header p {
    font-size: 150%;
    font-weight: 700;
    text-align: center;
    color: #FC6903;
    line-height: 1em;
    letter-spacing: 0.4em;
    font-family: bold serif;
}
header {
    background-color: #F46036;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% auto;
    height: 212px;
    background-image: url(images/mountain%20logo.jpg);
}
nav .container {
    padding-bottom: 10px;
    border-bottom: 2px solid #F9805D;
    }
body {
    border-right: 15px solid #F46036;
    border-left: 15px solid #F46036;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
footer {
    padding-top: 5px;
    color: #FFF;
    background-color: #F46036;
    font-family: serif;
}
address {
    color: #fff;
    font-family: serif;
}
table {
    font-size: 90%;
    width: 95%;
    /* [disabled]margin-bottom: 2em; */
    border-collapse: collapse;
    border-top-width: thin;
    border-right-width: thin;
    border-left-width: thin;
}
td, th {
    text-align: center;
    border-top-color: #000000;
}
th {
    /* [disabled]color: #FFC; */
    text-align: center;
    border-bottom: 3px solid #0A0D0E;
}
.feature {
    width: 30%;
    border-left-width: thin;
}
.humans {
    width: 35%;
}
.robot {
    width: 35%;
    border-left: 2px double #0A0D0E;
}

@media screen and (max-width:991.98px){
.navbar-nav  .nav-item {
    border: 1px solid #C7340A;
    text-align: left;
    width: 100%;
    background-image: none;
}
header h2 {
    font-size: 300%;
    letter-spacing: 0.05em;
}
header p {
    font-size: 130%;
    font-weight: 700;
    letter-spacing: 0.2em;
}
header {
    background-size: 70% auto;
    height: 190px;
}







}
